body {
  color: #1f2024;
  font-family: Space Mono, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Right Grotesk, sans-serif;
  font-size: 38px;
  font-weight: 700;
  line-height: 1.1em;
}

h2 {
  letter-spacing: .04em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 8px;
  font-family: Right Grotesk, sans-serif;
  font-size: 3em;
  font-weight: 700;
  line-height: 1.2em;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Right Grotesk, sans-serif;
  font-size: 1.7em;
  font-weight: 700;
  line-height: 30px;
}

a {
  color: #1f2024;
  font-weight: 700;
  text-decoration: none;
}

li {
  padding-bottom: 8px;
}

.hero-letters {
  display: flex;
  position: relative;
}

.hero-section {
  height: 100vh;
  color: #fff;
  text-align: center;
  background-color: #eb0d18;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  overflow: hidden;
}

.hero-heading {
  z-index: 1;
  text-shadow: -17px 17px #1f2024;
  cursor: crosshair;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16vw;
  position: relative;
}

.hero-heading:hover {
  color: #eedf39;
}

.hero-heading._2 {
  z-index: 2;
  flex: 1;
  align-self: center;
}

.hero-heading._2:hover {
  color: #5879ff;
}

.hero-heading._3 {
  z-index: 3;
  justify-content: center;
  align-self: center;
  align-items: center;
  display: flex;
}

.hero-heading._3:hover {
  color: #ff2cb2;
}

.primary-button {
  color: #fff;
  text-align: center;
  letter-spacing: .12em;
  background-color: #ff55a2;
  border: 4px solid #1f2024;
  border-radius: 8px;
  padding: 16px 40px;
  font-family: Right Grotesk, sans-serif;
  font-size: 1.25em;
  transition: background-color .2s, transform .2s, box-shadow .2s;
  box-shadow: -3px 3px #1f2024;
}

.primary-button:hover {
  background-color: #e42c7f;
  transform: translate(4px, -4px);
  box-shadow: -6px 6px #1f2024;
}

.primary-button.hero {
  z-index: 1000;
  color: #1f2024;
  background-color: #38ffa9;
  border-width: 8px;
  border-radius: 12px;
  justify-content: center;
  align-self: center;
  margin-top: 16px;
  margin-bottom: 24px;
  padding: 20px 40px;
  font-size: 1.5em;
  transition: color .2s, background-color .2s, transform .2s, box-shadow .2s;
  display: flex;
  box-shadow: -6px 6px #1f2024;
}

.primary-button.hero:hover {
  z-index: 4;
  color: #fff;
  background-color: #ff00a1;
  position: relative;
  box-shadow: -11px 11px #1f2024;
}

.primary-button.hero:active {
  transform: translate(0);
  box-shadow: -6px 6px #1f2024;
}

.primary-button.footer {
  background-color: #672fcf;
  border-width: 4px;
  border-color: #461a97;
  align-self: center;
  padding: 20px 32px;
  font-size: 1.5em;
  box-shadow: -6px 6px #461a97;
}

.primary-button.footer:hover {
  background-color: #ff0d11;
}

.nav-bar {
  z-index: 9999;
  max-width: 580px;
  background-color: #1f2024;
  border-radius: 16px;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 16px;
  display: none;
  position: fixed;
  top: 12px;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.nav-bar.license {
  max-width: 420px;
}

.nav-bar.your-stuff {
  max-width: 520px;
}

.link-block {
  color: #fff;
  padding: 20px 16px;
  text-decoration: none;
}

.link-block:hover {
  color: #f9e174;
}

.link-block.w--current {
  color: #c6dd42;
}

.link-block.last {
  padding-right: 24px;
}

.button {
  background-color: #ff3979;
  border-radius: 8px;
  transition: background-color .2s;
}

.button:hover {
  background-color: #5100ff;
}

.button.nav {
  background-color: #30af74;
  margin-left: 8px;
}

.mint-section {
  background-color: #f9e174;
  background-image: url('../images/pattern-bg.png');
  background-position: 50%;
  background-size: auto;
  padding: 120px 24px 180px;
  position: relative;
}

.price {
  color: rgba(31, 32, 36, .8);
  letter-spacing: 1px;
  background-color: #f3f2ed;
  border-radius: 6px;
  margin-top: 24px;
  padding: 12px 16px;
  font-size: .9em;
  line-height: 1.5em;
}

.minting-container {
  max-width: 550px;
  text-align: center;
  background-color: #fff;
  border: 8px solid #1f2024;
  border-radius: 24px;
  flex-direction: column;
  align-items: center;
  padding: 58px 58px 32px;
  display: flex;
  box-shadow: -3px 3px #1f2024;
}

.image {
  z-index: 1;
  width: 14vw;
  max-width: 300px;
  min-width: 160px;
  position: absolute;
  top: auto;
  bottom: -20px;
  left: -20px;
  right: auto;
  transform: rotate(-23deg);
}

.image.bl1 {
  bottom: 21%;
  left: 10vw;
  transform: rotate(20deg);
}

.image.cl2 {
  width: 16vw;
  top: 23%;
  bottom: auto;
  left: 18%;
  transform: rotate(-18deg);
}

.image.cl1 {
  z-index: 0;
  top: 20%;
  bottom: auto;
  left: -1%;
  transform: rotate(20deg);
}

.image.tl {
  z-index: 0;
  width: 12vw;
  top: -3%;
  bottom: auto;
  left: 12%;
  transform: rotate(8deg);
}

.image.bc {
  left: auto;
  transform: rotate(-11deg);
}

.image.br {
  left: auto;
  right: 0;
  transform: rotate(14deg);
}

.image.br1 {
  bottom: 25%;
  left: auto;
  right: 10vw;
  transform: scale(.8)rotate(-14deg);
}

.image.cr2 {
  z-index: 2;
  top: 23%;
  bottom: auto;
  left: auto;
  right: 24%;
  transform: rotate(10deg);
}

.image.tr {
  z-index: 0;
  width: 12vw;
  top: -2%;
  bottom: auto;
  left: auto;
  right: 12%;
  transform: rotate(8deg);
}

.image.cr1 {
  z-index: 6;
  top: 18%;
  bottom: auto;
  left: auto;
  right: -1%;
  transform: rotate(20deg);
}

.hero-container {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  position: relative;
}

.intermission {
  background-color: #1f2024;
  margin-bottom: -100px;
  position: relative;
}

.center-image-block {
  position: relative;
  top: -100px;
}

.center-image-block._2 {
  margin-top: -100px;
  top: -100px;
}

.image-3 {
  margin-bottom: -100px;
}

.rarity-section {
  background-color: #163892;
  background-image: url('../images/diagrams.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 16px solid #1f2024;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 120px 24px;
  display: flex;
  position: relative;
}

.rarity-chart {
  width: 100%;
  max-width: 740px;
  grid-column-gap: 24px;
  grid-row-gap: 0px;
  background-color: #fff;
  border: 8px solid #1f2024;
  border-radius: 24px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  padding: 32px;
  display: grid;
  position: relative;
  box-shadow: -11px 11px 0 -4px #1f2024;
}

.rarity-row {
  border-radius: 4px;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 8px;
  display: flex;
}

.rarity-row.blue {
  background-color: #cae9fa;
}

.rarity-number {
  width: 50%;
  font-weight: 700;
}

.rarity-heading {
  font-size: 1em;
}

.faq-section {
  background-color: #cae9fa;
  flex-direction: column;
  align-items: center;
  padding: 200px 24px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.question {
  padding-top: 48px;
  padding-bottom: 48px;
}

.question.last {
  padding-bottom: 0;
}

.question.first {
  padding-top: 64px;
}

.faq-container {
  max-width: 720px;
}

.footer-section {
  color: #fff;
  text-align: center;
  background-color: #1f2024;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 16px;
  display: flex;
}

.domo-text {
  font-family: Right Grotesk, sans-serif;
  font-size: 16vw;
  line-height: .8em;
}

.domo-text:hover {
  color: #f9e174;
}

.domo-text.purple {
  padding-bottom: 32px;
}

.domo-text.purple:hover {
  color: #a774f9;
}

.follow-test {
  padding: 16px;
}

.bold-white-link {
  color: #fff;
}

.bold-white-link:hover {
  color: #f9e174;
}

.faq-left {
  flex-direction: column;
  justify-content: space-around;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: auto;
}

.faq-img {
  max-width: 160px;
  transform: rotate(-10deg);
}

.faq-img._1 {
  transform: translate(32px)rotate(10deg);
}

.faq-img._2 {
  transform: translate(-32px)rotate(-10deg)rotate(20deg);
}

.faq-img._3 {
  transform: translate(0)rotate(-5deg);
}

.faq-right {
  flex-direction: column;
  justify-content: space-around;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.faq-bottom {
  width: 68%;
  justify-content: space-around;
  display: flex;
  position: absolute;
  top: auto;
  bottom: -24px;
  left: auto;
  right: auto;
}

.faq-top {
  width: 68%;
  justify-content: space-around;
  display: flex;
  position: absolute;
  top: -24px;
  bottom: auto;
  left: auto;
  right: auto;
}

.rarity-image {
  padding: 16px;
}

.div-block {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.mint-card-image {
  width: 200px;
  border: 5px solid #000;
  border-radius: 100px;
  margin: -120px auto 16px;
}

.paragraph {
  margin-bottom: 24px;
}

.hero-price {
  z-index: 999;
  background-color: #ec0f18;
  border-radius: 8px;
  padding: 8px 12px;
  position: relative;
}

.your-roboto-name {
  margin-top: 16px;
  margin-bottom: 0;
  font-size: 1.5em;
}

.your-roboto-card {
  border: 4px solid #1f2024;
  border-radius: 20px;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 12px 12px 16px;
  overflow: hidden;
}

.your-roboto-card:hover {
  transform: translate(4px, -4px);
  box-shadow: -6px 6px #1f2024;
}

.your-roboto-image {
  border: 2px solid #c9c9c9;
  border-radius: 12px;
  padding: 12px;
}

.yourstuff-container {
  max-width: 1200px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  text-align: center;
  background-color: #fff;
  border: 8px solid #1f2024;
  border-radius: 24px;
  flex-direction: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  padding: 58px 58px 32px;
  display: grid;
  box-shadow: -3px 3px #1f2024;
}

.your-roboto-asseet {
  border: 4px #1f2024;
  border-radius: 20px;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 12px 12px 16px;
  overflow: hidden;
}

.your-roboto-card-image {
  border-radius: 12px;
}

.nav-link {
  color: #fff;
  padding: 16px;
}

.nav-link.w--current {
  color: #ffee31;
}

.nav-link.logo {
  padding-left: 4px;
}

.brand {
  color: #fff;
  background-color: #1f2024;
  border-right: 1px solid #494949;
  border-radius: 8px 0 0 8px;
  align-items: center;
  padding-left: 16px;
  display: flex;
}

.navbar {
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.nav-menu {
  color: #fff;
  background-color: #1f2024;
  border-radius: 0 8px 8px 0;
  align-items: center;
  padding-right: 8px;
  display: flex;
}

.container {
  justify-content: center;
  padding: 8px;
  display: flex;
}

.image-6 {
  margin-right: 8px;
}

.section {
  width: 100%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: #f9e174;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1.5fr;
  grid-auto-columns: 1fr;
  justify-content: space-around;
  align-items: stretch;
  justify-items: stretch;
  padding: 96px 32px 32px;
  display: grid;
  position: relative;
  overflow: hidden;
}

.section.bw {
  background-color: rgba(0, 0, 0, 0);
}

.parts-subtitle {
  text-transform: none;
  font-family: Space Mono, sans-serif;
  font-size: 1.25em;
  font-weight: 400;
}

.heading-3 {
  margin-top: 0;
  margin-bottom: 8px;
  font-family: Right Grotesk, sans-serif;
  font-size: 2.25em;
}

.spec-grid {
  height: 100%;
  max-width: 800px;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  background-color: rgba(0, 0, 0, .1);
  border: 8px solid #1f2024;
  border-radius: 16px;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 2fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row dense;
  align-self: center;
  align-items: center;
  justify-items: center;
  padding: 24px;
  display: grid;
}

.spec-details {
  height: 88vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-right: 32px;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  bottom: auto;
  left: 0;
}

.tech-part-container {
  text-align: center;
}

.tech-part-container.bw {
  filter: brightness(131%) grayscale() contrast(200%);
}

.tech-description {
  padding-top: 4px;
}

.download {
  max-width: 520px;
  background-color: #fff;
  border-radius: 16px;
  flex-direction: column;
  align-items: stretch;
  padding: 24px;
  display: flex;
  position: absolute;
  top: auto;
  bottom: 32px;
  left: auto;
  right: auto;
}

.tech-message {
  padding-bottom: 8px;
}

.spec-grid-flex {
  max-width: 800px;
  background-color: rgba(0, 0, 0, .1);
  border: 8px solid #1f2024;
  border-radius: 16px;
  flex-direction: column;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 2fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row dense;
  align-self: center;
  align-items: center;
  justify-items: center;
  padding: 24px;
  display: flex;
}

.spec-row {
  align-items: center;
  display: flex;
}

.tech-part-container-row {
  text-align: center;
  margin: 16px;
}

.heading {
  width: 100%;
  position: fixed;
}

.bw {
  filter: contrast(163%) grayscale() brightness(108%);
}

.hero-stack {
  width: 100%;
  min-height: 1201.81px;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  background-image: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 170px 20px 80px;
  display: flex;
}

.small-container {
  width: 100%;
  max-width: 960px;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.title-section {
  width: 100%;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.pill {
  width: 100%;
  max-width: 417.622px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border: 1.23818px solid rgba(255, 255, 255, .3);
  border-radius: 61.9089px;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 9.90542px 19.8108px;
  display: flex;
}

.text {
  color: #f2f4f8;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 150%;
}

.modern-analytics-for-the-modern-world {
  text-align: center;
  letter-spacing: -.03em;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(173.49deg, #ececec 0%, rgba(236, 236, 236, 0) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  font-family: Montserrat, sans-serif;
  font-size: 80px;
  font-weight: 500;
  line-height: 100%;
}

.paragraph-wrapper {
  width: 100%;
  max-width: 600px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.error-55218d30-9935-01ae-ec72-082555c828e1 {
  color: rgba(236, 236, 236, .65);
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
}

.actions {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex: 0 auto;
  justify-content: center;
  align-items: flex-start;
  padding-top: 16px;
  display: flex;
}

.button-2 {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  background-color: #ececec;
  border-radius: 60px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  text-decoration: none;
  display: flex;
}

.text-2 {
  color: #0b081c;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.button-3 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border: 1px solid #ececec;
  border-radius: 60px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  text-decoration: none;
  display: flex;
}

.text-3 {
  color: #ececec;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.image-wrapper {
  width: 100%;
  height: 472px;
  min-height: 472px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-image: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  box-shadow: 0 -2px 40px rgba(187, 155, 255, .15), 0 -2px 10px rgba(233, 223, 255, .3), inset 0 .5px rgba(255, 255, 255, .5);
}

.text-4 {
  color: rgba(255, 255, 255, 0);
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.text-5 {
  color: #f2f4f8;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 150%;
}

.text-6 {
  color: #0b081c;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.button-4 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border: 1px solid #ececec;
  border-radius: 60px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  text-decoration: none;
  display: flex;
}

.text-7 {
  color: #ececec;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.text-8 {
  color: rgba(255, 255, 255, 0);
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.saas-futuristic-app {
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #0b0121;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.navbar-logo-left {
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  color: #1f2420;
  background-color: #0b0121;
  justify-content: center;
  align-items: flex-start;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
}

.navbarcontainer {
  width: 100%;
  max-width: 1200px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.navbar-content {
  width: 100%;
  max-width: 1200px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.navbar-brand {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.logo-wrapper {
  width: 138px;
  height: 22px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.vectors-wrapper {
  width: 138px;
  height: 22px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.navbar-menu {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.navbar-link {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 24px 12px;
  display: flex;
}

.text-9 {
  color: #ececec;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.button-5 {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  background-color: #ececec;
  border: 1px solid #ececec;
  border-radius: 50px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  text-decoration: none;
  display: flex;
}

.text-10 {
  color: #0b081c;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.button-6 {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  border: 1px solid #ececec;
  border-radius: 50px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  text-decoration: none;
  display: flex;
}

.hero-stack-2 {
  width: 100%;
  min-height: 1201.81px;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  background-image: url('../images/Purply-Purple.png');
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 170px 20px 80px;
  display: flex;
}

.small-container-2 {
  width: 100%;
  max-width: 960px;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.title-section-2 {
  width: 100%;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  background-color: #d366bd;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.pill-2 {
  width: 100%;
  max-width: 417.622px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border: 1.23818px solid rgba(255, 255, 255, .3);
  border-radius: 61.9089px;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 9.90542px 19.8108px;
  display: flex;
}

.text-11 {
  color: #f2f4f8;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 150%;
}

.modern-analytics-for-the-modern-world-2 {
  text-align: center;
  letter-spacing: -.03em;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(173.49deg, #ececec 0%, rgba(236, 236, 236, 0) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  font-family: Montserrat, sans-serif;
  font-size: 80px;
  font-weight: 500;
  line-height: 100%;
}

.paragraph-wrapper-2 {
  width: 100%;
  max-width: 600px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-suspendisse-varius-enim-in-eros-elementum-tristique {
  color: rgba(236, 236, 236, .65);
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
}

.actions-2 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex: 0 auto;
  justify-content: center;
  align-items: flex-start;
  padding-top: 16px;
  display: flex;
}

.button-7 {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  background-color: #ececec;
  border-radius: 60px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  text-decoration: none;
  display: flex;
}

.button-8 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border: 1px solid #ececec;
  border-radius: 60px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  text-decoration: none;
  display: flex;
}

.image-wrapper-2 {
  width: 100%;
  height: 472px;
  min-height: 472px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-image: url('../images/Image.png');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  box-shadow: 0 -2px 40px rgba(187, 155, 255, .15), 0 -2px 10px rgba(233, 223, 255, .3), inset 0 1px rgba(255, 255, 255, .5);
}

.text-12 {
  color: rgba(255, 255, 255, 0);
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.logo-title {
  width: 100%;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 60px 20px;
  display: flex;
}

.text-13 {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 130%;
}

.content {
  width: 100%;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.logos {
  width: 100%;
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.logo-wrapper-2 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.vectors-wrapper-2 {
  width: 62px;
  height: 20px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.vectors-wrapper-3 {
  width: 87px;
  height: 17px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.vectors-wrapper-4 {
  width: 67px;
  height: 21px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.vectors-wrapper-5 {
  width: 143px;
  height: 13px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.vectors-wrapper-6 {
  width: 80px;
  height: 24.2697px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.vectors-wrapper-7 {
  width: 120px;
  height: 22.8px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.vectors-wrapper-8 {
  width: 54.2857px;
  height: 20px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.section-2 {
  width: 100%;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
}

.section-title {
  width: 100%;
  max-width: 470px;
  min-height: 324px;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  background-image: url('../images/Section-Title.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
}

.title-wrapper {
  width: 100%;
  max-width: 450px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  display: flex;
}

.title {
  color: #ececec;
  text-align: center;
  letter-spacing: -.32px;
  font-family: Montserrat, sans-serif;
  font-size: 48px;
  font-weight: 500;
  line-height: 120%;
}

.text-14 {
  color: #ececec;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
}

.container-2 {
  width: 100%;
  max-width: 1200px;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
  display: flex;
}

._2-columns {
  width: 100%;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.column {
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.card-wrapper {
  width: 100%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-image: linear-gradient(rgba(255, 255, 255, .05) 0%, rgba(255, 255, 255, 0) 100%);
  border-radius: 20px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 60px;
  display: flex;
  box-shadow: inset 0 .5px rgba(255, 255, 255, .5), 0 -2px 40px rgba(187, 155, 255, .15), 0 -2px 10px rgba(233, 223, 255, .3);
}

.icon-wrapper {
  width: 50px;
  height: 50px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: center;
  align-items: center;
  display: flex;
  box-shadow: 0 0 36.4547px rgba(89, 29, 221, .75);
}

.icon-image {
  object-fit: cover;
}

.card-content {
  width: 100%;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.text-15 {
  color: #ececec;
  letter-spacing: -.16px;
  font-family: Montserrat, sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 130%;
}

.text-16 {
  color: #ececec;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

.actions-3 {
  width: 100%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 16px;
  display: flex;
}

.button-9 {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.text-17 {
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  text-decoration: underline;
}

.icon-wrapper-2 {
  width: 50px;
  height: 50px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: center;
  align-items: center;
  display: flex;
  box-shadow: 0 0 36.4547px rgba(149, 37, 201, .75);
}

.actions-4 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 16px;
  display: flex;
}

._2-columns-2 {
  width: 100%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-image: linear-gradient(rgba(255, 255, 255, .05) 0%, rgba(255, 255, 255, 0) 100%);
  border-radius: 20px;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 60px;
  display: flex;
  box-shadow: inset 0 .5px rgba(255, 255, 255, .5), 0 -2px 40px rgba(187, 155, 255, .15), 0 -2px 10px rgba(233, 223, 255, .3);
}

.column-2 {
  width: 100%;
  max-width: 460px;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.icon-wrapper-3 {
  width: 50px;
  height: 50px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: center;
  align-items: center;
  display: flex;
  box-shadow: 0 0 36.4547px rgba(201, 37, 171, .75);
}

.column-3 {
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  display: flex;
}

.image-wrapper-3 {
  width: 100%;
  max-width: 467px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border-radius: 20px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  box-shadow: 0 0 rgba(255, 255, 255, .1), 0 0 rgba(0, 0, 0, .05), 0 -2px 40px rgba(187, 155, 255, .15), 0 -2px 10px rgba(233, 223, 255, .3), inset 0 .583383px rgba(255, 255, 255, .5), inset 0 .5px rgba(255, 255, 255, .5);
}

.image-7 {
  object-fit: cover;
  border-radius: 20px;
}

.hero-no-image {
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #0b0121;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 60px 20px;
  display: flex;
}

.container-3 {
  width: 100%;
  max-width: 1200px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-image: linear-gradient(rgba(255, 255, 255, .05) 0%, rgba(255, 255, 255, 0) 100%);
  border-radius: 20px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 60px;
  display: flex;
  box-shadow: inset 0 .5px rgba(255, 255, 255, .5), 0 -2px 40px rgba(187, 155, 255, .15), 0 -2px 10px rgba(233, 223, 255, .3);
}

.content-2 {
  width: 100%;
  max-width: 768px;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.our-powerful-analytics-provides-invaluable-insights {
  color: #ececec;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 120%;
}

.unlock-the-power-of-data-with-our-cutting-edge-analytics-product-get-instant-insights-with-our-user-friendly-analytics-dashboard-and-take-advantage-of-our-innovative-digital-credit-tokens-to-reward-your-customers-and-incentivize-engagement {
  color: #ececec;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}

.footer {
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 64px 20px;
  display: flex;
}

.container-4 {
  width: 100%;
  max-width: 1200px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 24px;
  display: flex;
}

.column-4 {
  width: 100%;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.footer-links-wrapper {
  width: 100%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.text-18 {
  color: #fff;
  letter-spacing: -.01em;
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  font-weight: 500;
}

.footer-links {
  width: 100%;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.text-19 {
  color: #fff;
  letter-spacing: -.01em;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.footer-links-wrapper-2 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.text-20 {
  color: #939393;
  letter-spacing: -.01em;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.address-wrapper {
  width: 100%;
  max-width: 210px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.terms-wrapper {
  width: 100%;
  grid-column-gap: 19px;
  grid-row-gap: 19px;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.column-5 {
  width: 180px;
  height: 312px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: flex-end;
  align-items: flex-end;
  display: flex;
}

.logo-wrapper-3 {
  width: 138px;
  height: 22px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: flex-end;
  align-items: flex-end;
  display: flex;
}

.trusted-by-teams-at-over-1000-of-the-world-s-leading-organizations-0 {
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 130%;
}

.trusted-by-teams-at-over-1000-of-the-world-s-leading-organizations-1 {
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
}

@media screen and (max-width: 991px) {
  body {
    font-size: 14px;
  }

  .hero-heading {
    text-shadow: -11px 11px #1f2024;
  }

  .mint-section {
    overflow: hidden;
  }

  .price {
    font-size: 1em;
  }

  .minting-container {
    padding: 40px;
  }

  .image {
    max-width: 200px;
    min-width: 140px;
  }

  .rarity-section {
    overflow: hidden;
  }

  .rarity-chart {
    width: 100%;
    grid-template-columns: 1fr;
  }

  .faq-left {
    display: none;
  }

  .faq-img {
    max-width: 120px;
  }

  .faq-right {
    display: none;
  }

  .faq-bottom {
    width: 100%;
    bottom: 0;
  }

  .faq-top {
    width: 100%;
    top: 0;
  }

  .rarity-image {
    max-width: 320px;
    order: -1;
    margin-left: auto;
    margin-right: auto;
  }

  .yourstuff-container {
    padding: 40px;
  }

  .container {
    max-width: 530px;
  }

  .section {
    padding-top: 88px;
  }

  .download {
    width: 100%;
    max-width: none;
    position: relative;
  }

  .spec-grid-flex {
    max-width: none;
  }

  .heading {
    position: relative;
  }

  .navbar-logo-left {
    padding-right: 0;
  }

  .navbar-menu {
    max-width: unset;
  }

  .navbar-link {
    justify-content: center;
  }

  .f2wf-columns {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .hero-letters {
    flex-direction: column;
    align-items: center;
  }

  .hero-section {
    height: auto;
  }

  .hero-heading {
    text-shadow: -8px 8px #1f2024;
    margin-top: 0;
    font-size: 37vw;
    line-height: .75em;
  }

  .primary-button.hero {
    align-self: stretch;
    padding-left: 0;
    padding-right: 0;
  }

  .button.nav {
    width: 100%;
    margin-left: auto;
  }

  .minting-container {
    border-width: 6px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .image {
    max-width: 180px;
    min-width: 120px;
  }

  .image.cl2, .image.cr2 {
    top: 10%;
  }

  .hero-container {
    padding-top: 220px;
    padding-bottom: 220px;
  }

  .intermission {
    display: none;
  }

  .center-image-block {
    top: auto;
  }

  .center-image-block._2 {
    position: relative;
    top: auto;
  }

  .rarity-section {
    border-style: none;
    padding-left: 16px;
    padding-right: 16px;
  }

  .rarity-chart {
    padding: 24px;
  }

  .faq-img {
    max-width: 100px;
  }

  .faq-img._1 {
    transform: rotate(10deg);
  }

  .faq-img._3 {
    max-width: 80px;
  }

  .faq-bottom {
    bottom: 24px;
  }

  .faq-top {
    top: 24px;
  }

  .rarity-image {
    width: 100%;
  }

  .mint-card-image {
    width: 124px;
  }

  .yourstuff-container {
    border-width: 4px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .nav-link {
    padding-left: 0;
  }

  .nav-link.logo {
    display: none;
  }

  .brand {
    border-radius: 8px;
    order: -1;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 16px;
  }

  .nav-menu {
    background-color: #1f2024;
    border-radius: 8px;
    flex-direction: column;
    align-items: stretch;
    margin-left: 8px;
    margin-right: 8px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .container {
    max-width: 100%;
    border-radius: 8px;
    justify-content: space-between;
  }

  .image-6 {
    margin-right: 0;
  }

  .menu-button {
    background-color: #000;
    border-radius: 16px;
    order: 1;
  }

  .menu-button.w--open {
    background-color: #ff3979;
  }

  .icon {
    color: #fff;
  }

  .section {
    height: auto;
    text-align: center;
    flex-direction: column;
    grid-template-columns: 1fr;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
  }

  .spec-grid {
    width: 100%;
  }

  .spec-details {
    width: auto;
    height: auto;
    align-items: center;
    padding-bottom: 24px;
    padding-right: 0;
  }

  .download {
    margin-top: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
    bottom: auto;
  }
}

@media screen and (max-width: 479px) {
  h2 {
    font-size: 2em;
  }

  .nav-bar {
    margin-left: 16px;
    margin-right: 16px;
  }

  .link-block {
    padding-left: 12px;
    padding-right: 12px;
  }

  .link-block.w--current, .link-block.rarity {
    display: none;
  }

  .mint-section {
    padding-left: 12px;
    padding-right: 12px;
  }

  .minting-container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .image {
    max-width: 160px;
    min-width: 100px;
  }

  .rarity-section {
    background-color: #fff;
    background-image: none;
    padding: 48px 16px;
  }

  .rarity-chart {
    box-shadow: none;
    border-style: none;
    padding: 0;
  }

  .faq-section {
    padding-left: 16px;
    padding-right: 16px;
  }

  .faq-container {
    max-width: 100%;
  }

  .heading-2 {
    text-align: center;
  }

  .text-block-8 {
    display: none;
  }

  .your-roboto-name {
    margin-top: 8px;
    font-size: 1em;
  }

  .your-roboto-card {
    padding: 9px;
  }

  .yourstuff-container {
    padding-left: 8px;
    padding-right: 8px;
  }

  .license-container {
    max-width: 100%;
  }

  .your-roboto-asseet {
    padding: 9px;
  }

  .section {
    padding-left: 16px;
    padding-right: 16px;
  }

  .spec-grid, .spec-grid-flex {
    padding: 12px;
  }
}

#w-node-_17b516e0-1675-4983-56c1-2d517321fe6f-b4256a72 {
  justify-self: center;
}

#w-node-_4eef881a-8a0b-0b7f-a192-eb158e5ccf85-b4256a72 {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-bf085115-9fb5-3934-bff3-ad7151a4386d-b4256a72 {
  grid-area: 3 / 1 / 4 / 2;
}

#w-node-_85905fbe-2c73-c15b-c60d-e0830d14d00e-b4256a72 {
  grid-area: 2 / 2 / 3 / 3;
}

#w-node-_8d64b1d1-cddd-b0e5-304f-f903cbdf8788-b4256a72 {
  grid-area: 4 / 2 / 5 / 3;
}

#w-node-b969b4fb-9f87-69be-8f93-2b5531b9e672-b4256a72 {
  grid-area: 3 / 3 / 4 / 4;
}

#w-node-_9f6830b4-ae79-ba78-10b0-328f2706e12e-b4256a72 {
  grid-area: 3 / 2 / 4 / 3;
}

#w-node-_6a384503-06be-4214-550a-98e07b1dddbd-b4256a72 {
  grid-area: 4 / 1 / 5 / 2;
}

#w-node-_0377931e-9235-e83f-5836-784462ab588e-b4256a72 {
  grid-area: 4 / 3 / 5 / 4;
}

#w-node-_308f2ed7-91b7-28f4-6bca-1980e8bc4d38-b4256a72 {
  grid-area: 5 / 2 / 6 / 3;
}

#w-node-_17b516e0-1675-4983-56c1-2d517321fe6f-b7256a73 {
  justify-self: center;
}

#w-node-_4eef881a-8a0b-0b7f-a192-eb158e5ccf85-b7256a73 {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-bf085115-9fb5-3934-bff3-ad7151a4386d-b7256a73 {
  grid-area: 3 / 1 / 4 / 2;
}

#w-node-_85905fbe-2c73-c15b-c60d-e0830d14d00e-b7256a73 {
  grid-area: 2 / 2 / 3 / 3;
}

#w-node-_8d64b1d1-cddd-b0e5-304f-f903cbdf8788-b7256a73 {
  grid-area: 4 / 2 / 5 / 3;
}

#w-node-b969b4fb-9f87-69be-8f93-2b5531b9e672-b7256a73 {
  grid-area: 3 / 3 / 4 / 4;
}

#w-node-_9f6830b4-ae79-ba78-10b0-328f2706e12e-b7256a73 {
  grid-area: 3 / 2 / 4 / 3;
}

#w-node-_6a384503-06be-4214-550a-98e07b1dddbd-b7256a73 {
  grid-area: 4 / 1 / 5 / 2;
}

#w-node-_0377931e-9235-e83f-5836-784462ab588e-b7256a73 {
  grid-area: 4 / 3 / 5 / 4;
}

#w-node-_308f2ed7-91b7-28f4-6bca-1980e8bc4d38-b7256a73 {
  grid-area: 5 / 2 / 6 / 3;
}

#w-node-_17b516e0-1675-4983-56c1-2d517321fe6f-20256a74 {
  justify-self: center;
}

#w-node-_6d743476-bb55-2d25-b564-f9beec69d729-9f256a75, #w-node-a00e1cff-2567-d0e3-b0c0-e8ab48c8d61d-9f256a75 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-_76d4a55e-a337-ab32-3f71-987af0777d6e-9f256a75, #w-node-a9e9451d-36e0-c4c6-24ae-e19a051986c1-9f256a75 {
  grid-area: span 1 / span 2 / span 1 / span 2;
  justify-self: center;
}

#w-node-_3e50bec3-cf5b-6def-b081-8f21cf3bae2f-9f256a75, #w-node-_6d743476-bb55-2d25-b564-f9beec69d729-1d256a76, #w-node-a00e1cff-2567-d0e3-b0c0-e8ab48c8d61d-1d256a76, #w-node-_6d743476-bb55-2d25-b564-f9beec69d729-a7256a77, #w-node-a00e1cff-2567-d0e3-b0c0-e8ab48c8d61d-a7256a77 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}


@font-face {
  font-family: 'Right Grotesk';
  src: url('../fonts/PPRightGrotesk-SpatialBlack.woff2') format('woff2'), url('../fonts/PPRightGrotesk-SpatialBlack.eot') format('embedded-opentype'), url('../fonts/PPRightGrotesk-SpatialBlack.woff') format('woff'), url('../fonts/PPRightGrotesk-SpatialBlack.ttf') format('truetype'), url('../fonts/PPRightGrotesk-SpatialBlack.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}